@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* * {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
} */
body {
  background-color: var(--theme);
  --theme: #1d1e20;
  --entry: #2e2e33;
  --pblue: #609fff;
  --primary: rgba(255, 255, 255, 0.84);
  --secondary: rgba(255, 255, 255, 0.56);
  --tertiary: rgba(255, 255, 255, 0.16);
  --content: rgba(255, 255, 255, 0.74);
  --hljs-bg: #2e2e33;
  --code-bg: #37383e;
  --border: #333;
  --gap: 24px;
  --radius: 8px;
}

img {
  display: block;
  margin: 0px auto;
}

.link-post {
  margin-bottom: calc(var(--gap) * 1.5);
}

.link-title {
  color: var(--primary);
}

.link-desc {
  color: var(--secondary);
  margin-bottom: 0;
}

a:visited,
a:link {
  color: var(--pblue);
}
